.top{
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

.prof-pic {
  border-radius: 90px;
}

body{
  color: white;
}

p{
  padding-left: 20px;
  padding-right: 20px;
}

ul{
  list-style-type: none;
}

.white{
  color:white;
}

h1 {
  padding-left: 13px;
}

.wrap{
  width: 85%;
  margin: auto;
}

a {
  color:#454545;
}

.os-proj{
  padding-top: 4px;
}

@media screen and (max-width: 400px) {
    h1{
      text-align: center;
    }
    .os-proj{

    }
}
