@font-face {
  font-family: Jonah;
  src: url('fonts/Jonah.ttf');
}

.top {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

.prof-pic {
  border-radius: 90px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.white {
  color: white;
}

.wrap {
  width: 85%;
  margin: auto;
}

.os-proj {
  padding-top: 4px;
}

.font1 {
  font-family: Jonah, sans-serif;
}

body {
  color: white;
  background-image: url("img/beach.jpg");
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}

h1 {
  padding-left: 13px;
}

a {
  color: white;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/*Media Queries:*/
@media screen and (max-width: 400px) {
    h1 {
      text-align: center;
    }
}
