/*FONTS*/

@font-face {
  font-family: Jonah;
  src: url('fonts/Jonah.ttf');
}

@font-face {
  font-family: Timeless;
  src: url('fonts/Timeless.ttf');
}

@font-face {
  font-family: CODE;
  src: url('fonts/CODE.otf');
}

@font-face {
  font-family: CODE2;
  src: url('fonts/CODE2.otf');
}

.font1{
  font-family: CODE2;
}

.font2{
  font-family: CODE;
}

.font3{
  font-family: Timeless;
  font-size: 15px;
  font-weight: bold;
}

.font4{
  font-family: Jonah;
  font-weight: bold;
}

/*HEADER*/

.header {
  padding-top: 50px;
  height: 375px;
  width: 100%;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  background-color: white;
  margin-bottom: 1px;
}

.prof-pic {
  display: block;
  margin: 0 auto;
  border-radius: 180px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.name-header {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  z-index: 3;
  font-size: 25px;
}

.social-block {
  margin: auto;
  width: 250px;
  height: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.git-icon {
  margin-right: 25px;
}

.linked-icon {
  margin-right: 25px;
}

.twit-icon {
  margin-right: 30px;
}

.email-icon {
  margin-top: 5px;
}


/*ABOUT*/

.about {
  background-image: url("img/bg3.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 575px;
  z-index: 0;
  position: fixed;
  padding-top: 375px;
}

.about-title {
  text-align: center;
  bottom: 70px;
}

.about-excerpt {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

/*PROJECTS*/

.projects {
  box-shadow: 0px -7px 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 200px;
  width: 100%;
  padding-top: 3px;
  position: absolute;
  bottom: 0px;
  background-color: white;
}

.projects-title {
  font-weight: bold;
  text-align: center;
}




/*MEDIA QUERIES*/

@media screen and (max-width: 110px) {
  .overlay-1 {
    height: 175px;
  }

}

/*PAGETAGS*/

a {
  color: white;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
